---
---

@import "{{ site.theme }}";


#header-image {
  text-align: center;
  width: 100%;
  max-width: 100%;
}

#tree-image {
  width: 100%;
}

.page-header {
	background-color: #f9ad5a;
	background-image: none;
	padding-top: 20px;
	padding-bottom: 30px;
}

.main-content h1,
  .main-content h2,
  .main-content h3,
  .main-content h4,
  .main-content h5,
  .main-content h6 {
color: #3d2c32; }

.column {
  padding: 10px;
  display: inline-block;
}

.row {
	text-align: center;
	padding-bottom: 40px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4c352f;
  overflow-x: hidden;
  transition: 0.0s;
  padding-top: 60px;
}

.sidenav a {
  padding: 6px 6px 6px 25px;
  text-decoration: none;
  font-size: 20px;
  color: #a1a1a1;
  display: block;
  transition: 0.0s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.openButton {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  font-size: 30px;
  color: #4c352f;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #4c352f;
  color: #f9ad5a;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

#thumbnail {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 300px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
#thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}