---
---

@import "{{ site.theme }}";

.page-header {
	background-color: #f9ad5a;
	background-image: none;
	padding-top: 20px;
	padding-bottom: 30px;
}

.main-content h1,
  .main-content h2,
  .main-content h3,
  .main-content h4,
  .main-content h5,
  .main-content h6 {
color: #3d2c32; }

.column {
  padding: 10px;
  display: inline-block;
}

.row {
	text-align: center;
	padding-bottom: 40px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}